.custom-post-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    .custom-post-card-body{
        padding: 20px;
    }
    .custom-card-title{
        font-size: 30px;
    }
    .custom-card-props{
        display: flex;
        justify-content: space-between;
        color: #787878;
        margin: 0px 0px 15px 3px;
    }
    .custom-card-text{
        font-size: 18px;
        text-align: justify;
    }
    .custom-card-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 25px 0px 0px 3px;
    }
    .custom-card-like{
        color: #606060;
    }
    .custom-card-like:hover, :focus, :visited{
        cursor: pointer;
        color: #a30000;
    }
}