.custom-input {
    border: none;
    font-size: 18px;
    height: 30px;
    width: 90%;
    border-bottom: 1px solid gray;
}
.custom-input:active, .custom-input:focus {
    outline: none;
    border-bottom: 1px solid black;
}

.custom-textarea {
    width: 100%;
    height: 200px;
    font-size: 18px;
    padding: 5px;
    border-radius: 1%;
}

.custom-textarea:active, .custom-textarea:focus {
    outline: none;
    border: 1px solid black;
}

.custom-comment-card {
    color: #3a3a3a;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.custom-danger-text{
    color:red;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 15px;
}